<footer class="bg-[#f6f6f6] text-white font-medium mt-16">
  <div class="max-w-7xl mx-auto px-6 py-12
              grid gap-10
              grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
    <div>
      <div class="bg-[#cc292e] w-fit mb-2">
        <img src="https://plazavea.vteximg.com.br/arquivos/LogoPlazaVea.svg?v=638558150445000000" alt=""
          [routerLink]="['/catalogo']" class="cursor-pointer p-2">

      </div>

      <p class="text-sm leading-relaxed text-gray-400">
        Compra productos tecnológicos al mejor precio.
        Calidad garantizada y envíos rápidos a todo el país.
      </p>
    </div>
    <div class="">
      <h3 class="text-black! font-semibold mb-2 text-sm!">Enlaces</h3>

      <div class="flex flex-col gap-2 text-sm ">
        <a routerLink="/" class="hover:text-red-500! transition no-underline! text-gray-400!">Inicio</a>
        <a routerLink="/catalogo" class="hover:text-red-500! transition no-underline! text-gray-400!">Catálogo</a>
        <a routerLink="/ofertas" class="hover:text-red-500! transition no-underline! text-gray-400!">Ofertas</a>
        <a routerLink="/contacto" class="hover:text-red-500! transition no-underline! text-gray-400!">Contacto</a>
      </div>
    </div>
    <div>
      <h3 class="text-black! font-semibold mb-2 text-sm!">Ayuda</h3>

      <div class="flex flex-col gap-2 text-sm">
        <a href="#" class="hover:text-red-500! transition no-underline! text-gray-400!">
          Preguntas frecuentes
        </a>
        <a href="#" class="hover:text-red-500! transition no-underline! text-gray-400!">
          Métodos de pago
        </a>
        <a href="#" class="hover:text-red-500! transition no-underline! text-gray-400!">
          Envíos
        </a>
        <a href="#" class="hover:text-red-500! transition no-underline! text-gray-400!">
          Devoluciones
        </a>
      </div>
    </div>
    <div>
      <h3 class="text-black! font-semibold mb-2 text-sm!">Síguenos</h3>

      <div class="flex flex-col gap-2 text-sm">
        <a href="#" class="hover:text-red-500! transition no-underline! text-gray-400!">
          Facebook
        </a>
        <a href="#" class="hover:text-red-500! transition no-underline! text-gray-400!">
          Instagram
        </a>
        <a href="#" class="hover:text-red-500! transition no-underline! text-gray-400!">
          TikTok
        </a>
      </div>
    </div>
  </div>
  <div class="border-t border-neutral-800 text-center py-5 text-sm text-gray-500">
    © 2026 Plaza Vea — Todos los derechos reservados
  </div>

</footer>