<div class="flex min-h-screen bg-gradient-to-br from-[#e0f2f1] to-[#b2dfdb]">

  <aside
    class="bg-[#004d40] text-white transition-all duration-300 flex flex-col shadow-2xl border-r border-emerald-400/10"
    [class.w-20]="isCollapsed" [class.w-64]="!isCollapsed">

    <div class="p-5 flex items-center justify-between">
      <h1 class="text-2xl font-bold tracking-wide transition-all duration-300 overflow-hidden text-emerald-50"
        [class.opacity-0]="isCollapsed" [class.w-0]="isCollapsed" [class.w-auto]="!isCollapsed">
        Admin
      </h1>

      <button (click)="toggleSidebar()" class="text-emerald-300 hover:text-white transition-colors">
        <span class="material-symbols-outlined">menu</span>
      </button>
    </div>

    <nav class="flex-1 px-4 space-y-3 mt-6">
      <a routerLink="dashProducto" routerLinkActive="!bg-white/10 !text-white ring-1 ring-emerald-400/30"
        class="relative group flex items-center px-4 py-3 rounded-2xl text-slate-50 no-underline transition-all duration-300 hover:bg-white/10"
        [class.justify-center]="isCollapsed" [class.gap-4]="!isCollapsed">
        <span
          class="material-symbols-outlined relative z-10 text-emerald-300 group-hover:text-white transition-all shrink-0">monitoring</span>
        <span class="relative z-10 font-medium whitespace-nowrap overflow-hidden transition-all duration-300"
          [class.max-w-0]="isCollapsed" [class.opacity-0]="isCollapsed" [class.max-w-[200px]]="!isCollapsed">
          Dashboard
        </span>
        <div
          class="absolute inset-0 rounded-2xl bg-gradient-to-r from-emerald-500/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity pointer-events-none">
        </div>
      </a>

      <a routerLink="productos" routerLinkActive="!bg-white/10 !text-white ring-1 ring-emerald-400/30"
        class="relative group flex items-center px-4 py-3 rounded-2xl text-slate-50 no-underline transition-all duration-300 hover:bg-white/10"
        [class.justify-center]="isCollapsed" [class.gap-4]="!isCollapsed">
        <span
          class="material-symbols-outlined relative z-10 text-emerald-300 group-hover:text-white transition-all shrink-0">inventory_2</span>
        <span class="relative z-10 font-medium whitespace-nowrap overflow-hidden transition-all duration-300"
          [class.max-w-0]="isCollapsed" [class.opacity-0]="isCollapsed" [class.max-w-[200px]]="!isCollapsed">
          Productos
        </span>
        <div
          class="absolute inset-0 rounded-2xl bg-gradient-to-r from-emerald-500/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity pointer-events-none">
        </div>
      </a>

      <a routerLink="categorias" routerLinkActive="!bg-white/10 !text-white ring-1 ring-emerald-400/30"
        class="relative group flex items-center px-4 py-3 rounded-2xl text-slate-50 no-underline transition-all duration-300 hover:bg-white/10"
        [class.justify-center]="isCollapsed" [class.gap-4]="!isCollapsed">
        <span
          class="material-symbols-outlined relative z-10 text-emerald-300 group-hover:text-white transition-all shrink-0">category</span>
        <span class="relative z-10 font-medium whitespace-nowrap overflow-hidden transition-all duration-300"
          [class.max-w-0]="isCollapsed" [class.opacity-0]="isCollapsed" [class.max-w-[200px]]="!isCollapsed">
          Categorías
        </span>
        <div
          class="absolute inset-0 rounded-2xl bg-gradient-to-r from-emerald-500/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity pointer-events-none">
        </div>
      </a>

      <a class="relative group flex items-center px-4 py-3 rounded-2xl text-slate-50 no-underline transition-all duration-300 hover:bg-white/10 hover:text-white active:scale-95 cursor-pointer"
        [class.justify-center]="isCollapsed" [class.gap-4]="!isCollapsed">

        <span
          class="material-symbols-outlined relative z-10 text-emerald-300 group-hover:text-white transition-all shrink-0">

          settings

        </span>

        <span class="relative z-10 font-medium whitespace-nowrap overflow-hidden transition-all duration-300"
          [class.max-w-0]="isCollapsed" [class.opacity-0]="isCollapsed" [class.max-w-[200px]]="!isCollapsed"
          [class.opacity-100]="!isCollapsed">

          Opciones

        </span>

        <div
          class="absolute inset-0 rounded-2xl bg-gradient-to-r from-emerald-500/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none">

        </div>

      </a>
    </nav>

    <div class="p-4">
      <button class="relative group flex items-center justify-center w-full px-4 py-3 rounded-2xl
           bg-gradient-to-r from-emerald-800 via-emerald-700 to-emerald-600
           text-white font-semibold shadow-[0_8px_25px_rgba(6,95,70,0.6)]
           border border-emerald-400/40 transition-all duration-300 hover:scale-[1.02] overflow-hidden"
        [class.gap-3]="!isCollapsed" [class.gap-0]="isCollapsed">
        <div class="relative z-10 shrink-0 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            class="w-6 h-6 text-emerald-200 group-hover:text-white" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 0h-8A1.5 1.5 0 0 0 0 1.5v9A1.5 1.5 0 0 0 1.5 12h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
            <path fill-rule="evenodd"
              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
          </svg>
        </div>
        <span class="relative z-10 whitespace-nowrap transition-all duration-300 overflow-hidden" (click)="logout()"
          [class.max-w-0]="isCollapsed" [class.opacity-0]="isCollapsed" [class.max-w-[500px]]="!isCollapsed">
          Cerrar Sesión
        </span>
      </button>
    </div>
  </aside>

  <div class="flex-1 flex flex-col">

    <header class="bg-[#004d40] border-b border-emerald-400/20 shadow-lg px-8 py-4 flex justify-end items-center">
      <div class="flex items-center gap-6">

        <span class="material-symbols-outlined text-emerald-300 hover:text-white cursor-pointer transition-colors">
          notifications
        </span>

        <div class="flex items-center gap-3 border-l border-emerald-400/30 pl-6">
          <div class="text-right">
            <p class="font-semibold text-emerald-50 leading-tight">{{ username }}</p>
            <p class="text-xs text-emerald-300/80">{{ rol }}</p>
          </div>
          <span class="material-symbols-outlined text-emerald-200 text-4xl">
            account_circle
          </span>
        </div>
      </div>
    </header>

    <main class="flex-1 p-10">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>