<div class="register-wrapper">

  <div class="register-card">

    <h2 class="title">Crear Cuenta</h2>

    <div class="form-group">
      <input [(ngModel)]="form.username" placeholder="Username">
    </div>

    <div class="form-group">
      <input [(ngModel)]="form.password" type="password" placeholder="Password">
    </div>

    <div class="form-group">
      <select [(ngModel)]="form.idRol">
        <option [ngValue]="null">Seleccione Rol</option>

        @for (rol of roles; track rol.idRol) {
          <option [ngValue]="rol.idRol">
            {{ rol.nombre.replace('ROLE_', '') }}
          </option>
        }
      </select>
    </div>

    <div class="form-group">
      <select [(ngModel)]="form.idDistrito">
        <option [ngValue]="null">Seleccione Distrito</option>

        @for (dis of distritos; track dis.iddistrito) {
          <option [ngValue]="dis.iddistrito">
            {{ dis.nombre }}
          </option>
        }
      </select>
    </div>

    <button class="btn-register" (click)="register()">
      Registrar
    </button>

  </div>

</div>
