<h2>Registro</h2>

<input [(ngModel)]="form.username" placeholder="Username">
<br>

<input [(ngModel)]="form.password" type="password" placeholder="Password">
<br>

<select [(ngModel)]="form.idRol">

  <option value="">Seleccione Rol</option>

  @for (rol of roles; track rol.idRol) {
    <option [value]="rol.idRol">
      {{ rol.nombre.replace('ROLE_', '') }}
    </option>
  }

</select>
<br>

<input [(ngModel)]="form.idDistrito" type="number" placeholder="Distrito">
<br>

<button (click)="register()">Registrar</button>
