<div class="productos-container p-6">

  <div class="titulo">
    Productos
  </div>

  @if (loading()) {
    <div class="loading">
      Cargando productos...
    </div>
  }

  <div class="grid-productos">

    @for (producto of productos(); track producto.idproducto) {
      <div class="card-producto">

        <div class="card-body">
          <h3 class="nombre">
            {{ producto.nombre }}
          </h3>

          <p class="descripcion">
            {{ producto.descripcion }}
          </p>
        </div>

        <div class="card-footer">
          <span class="precio">
            S/ {{ producto.precio }}
          </span>
        </div>

      </div>
    }

  </div>

</div>