<div class="login-wrapper">

  <div class="login-card">

    <h2 class="login-title">Iniciar Sesión</h2>

    <div class="form-group">
      <input [(ngModel)]="form.username" placeholder="Usuario" />
    </div>

    <div class="form-group">
      <input [(ngModel)]="form.password" type="password" placeholder="Contraseña" />
    </div>

    <button class="btn-login" (click)="login()">
      Ingresar
    </button>
    <div>
      <p class="text-xs font-bold mt-2">¿No tienes una cuenta?<span
          class="underline cursor-pointer text-transparent bg-clip-text bg-linear-to-br from-[#1F6F5F] to-[#2FA58D] transition duration-300 hover:brightness-150 hover:drop-shadow-[0_0_6px_rgba(47,165,141,0.8)]"
          [routerLink]="['/register']"> Acá puedes registrarte</span></p>
    </div>
  </div>

</div>